body, html{
    height:100%;
    padding:0;
    margin:0;
}

body{
    background: linear-gradient(90deg, #003378 0%, #05104B 100%);
}
.section2{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#dots{
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
}
#circle{
    position: absolute;
    background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.35;
    filter: blur(250px);
    width: 60%;
    height: 100%;
    left: 13px;
}

#line{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    margin-top: 70px;
}
.counting{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 250px;
}

.glass{
    margin-top: 100px;
    background-image: url('../images/Glass.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.6,1.6);
}

.glass-content >h1{
    font-size: 50px;

}

.glass-content >h2{
    font-size: 18px;


}


.part1{
    width: 60%;
    height: 100%;
    z-index: 1;
}

.part1 > h2 {
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 0px, 2px 0px, 3px 0px;
    font-weight: 700;
    /* text-shadow: 0px 4px 37px rgba(255, 255, 255, 0.25); */
    z-index: 1;

    
}


.part1 > p {
    font-size: 43px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bolder;
    line-height: 75px;
    z-index: 1;

    background-color: #fff;
    background-image: linear-gradient(45deg, #ffffff, #2F7FEB);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}
.part1 > p:after{
    text-shadow: 10px 10px 11px rgb(10, 161, 61);
    color: transparent;
}

.glass-inner{
    height: 100%;
    width: 22%;
    display: flex;
}


#neon1{
    position: absolute;
    margin-top: 470px;
    margin-left: 352px;
    transform: scale(1.5);
}

#neon2{
    position: absolute;
    margin-top: 615px;
    margin-left: 1058px;
    transform: scale(-1.5,1.5);
}

.verification,
.avoid-costly-errors,
.detailed,
.expert-review,
.easy-integration,
.scenes{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    width: fit-content;
    height: fit-content;
    color: #fff;

}
.avoid-costly-errors{
    margin-top: 150px;
}
#illustration,#maintenance,#development,#discuss,#work{
    width: 40%;

}

#maintenance {
    margin-top: -150px;
    margin-left: 50px;
}

#development{
    transform: scale(0.85);
}

#discuss{
    transform: scale(0.85);
    margin-top: -100px;
}

#work{
    transform: scale(1.3);
    margin-left: 100px;
}

#scene{
    transform: scale(1.5);
    margin-left: 100px;
}

.verification-content,
.avoid-costly-errors-content,
.detailed-content,
.expert-review-content,.easy-integration-content,.scenes-content{
    display: block;
    /* background-color: green; */
    width: 50%;
    padding: 50px;
    margin-left: 200px;
}

.avoid-costly-errors-content,.expert-review-content,.scenes-content{
    margin-left: 0px;
}

.verification-content > span,
.avoid-costly-errors-content > span,
.detailed-content > span,.expert-review-content > span,
.easy-integration-content > span,
.scenes-content > span{
    color: #FF6392;
    font-size: 45px;
    /* font-weight: bold; */

}
.avoid-costly-errors-content > span,.easy-integration-content > span{
    color: #FFBF5F;
}

.detailed-content > span,.scenes-content > span {
    color: #4EFFBF;
}
.expert-review-content > span{
    color: #618DFF;
}


.verification-content > h2,
.avoid-costly-errors-content > h2,
.detailed-content> h2,.expert-review-content > h2,
.easy-integration-content > h2,
.scenes-content > h2{
    font-size: 75px;
    margin: 0px;

}

.verification-content > p,
.avoid-costly-errors-content > p,
.detailed-content>p,.expert-review-content > p,
.easy-integration-content > p,
.scenes-content > p{
    font-size: 45px;
    color: rgba(255, 255, 255, 0.69);
    line-height: 70px;
    margin: 0px;

}